.v-card-actions {
  display: inline !important;
}
.v-col-md-2 {
  flex: 0 0 16.6666666667%;
  max-width: 50%;
}
.v-chip.v-chip--size-small {
  padding: 0 16px;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.menu {
  width: 65%;
}
.showinlowresolution {
  visibility: hidden;
}
.centerstuff {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-element {
  height: 140px;
  width: 100px;
}
.card-element-image {
  height: 110px;
  width: 100px;
  -o-object-fit: cover;
  object-fit: cover;
}
.adminlogin,
.display {
  width: 145px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fff;
}
.keypad {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  gap: 10px;
}
.keypad button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  background-color: #1c1d1d;
  color: #f3e4e4;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s;
}
.keypad button:active {
  background-color: #0056b3;
}
.keypad .control {
  background-color: #dc3545;
}
.keypad .control:active {
  background-color: #c82333;
}
.keypad .validate {
  background-color: #28a745;
  grid-column: 2 / span 1;
}
.keypad .validate:active {
  background-color: #218838;
}
.v-overlay__scrim {
  background: transparent;
}
@media only screen and (max-width: 574px) {
  .menu {
    width: 100%;
  }
  .card-element {
    height: 120px;
    width: 82px;
  }
  .card-element-image {
    height: 90px;
    width: 82px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .ticket {
    visibility: hidden;
    display: none;
  }
  .showinlowresolution {
    visibility: visible;
  }
}
